# Игнорируем бинарники (только файлы в корне репозитория)
/astro.exe
/astro

# Игнорируем файлы точных эфемерид (они скачиваются на VPS один раз)
/ephe/

# Игнорируем сгенерированные отчеты, JSON и картинки
/output_data/
.vscode/
# Игнорируем рабочую папку вывода
/output/
/astro3d.ru/
